// Home page styling

@import url("https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro");




* {
margin: 0;
padding: 0; }

html {
margin: 0%;
scroll-behavior: smooth; }


.fas,
.fab {
margin: 21px 9px; }

header {
color: #000000;
// background-image: url(../images/supreme.jpg);
background-color: #000000;
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
width: 100%;
height: 945px; }




.arrow {
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-content: center;
height: 60vh;
background-color: transparent; }

.arrow-downflick {
position: relative;
width: 50px;
height: 50px;
transform: rotate(45deg); }

.arrow-downflick span {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
box-sizing: border-box;
border: none;
border-right: 3px solid #fff;
border-bottom: 3px solid #fff;
animation: light-the-way 1s linear infinite;
-webkit-animation: light-the-way 1s linear infinite;
-moz-animation: light-the-way 1s linear infinite;
-o-animation: light-the-way 1s linear infinite; }

.arrow-downflick span:nth-child(1) {
top: -30px;
left: -30px;
animation-delay: 0;
-webkit-animation-delay: 0;
-moz-animation-delay: 0;
-o-animation-delay: 0; }

.arrow-downflick span:nth-child(2) {
top: -15px;
left: -15px;
animation-delay: .2s;
-webkit-animation-delay: .2s;
-moz-animation-delay: .2s;
-o-animation-delay: .2s; }

.arrow-downflick span:nth-child(3) {
top: 0px;
left: 0px;
animation-delay: .4s;
-webkit-animation-delay: .4s;
-moz-animation-delay: .4s;
-o-animation-delay: .4s; }

@keyframes light-the-way {
0% {
border-color: #fff;
transform: translate(0, 0);
-webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
-ms-transform: translate(0, 0);
-o-transform: translate(0, 0); }
20% {
border-color: #fff;
transform: translate(15px, 15px);
-webkit-transform: translate(15px, 15px);
-moz-transform: translate(15px, 15px);
-ms-transform: translate(15px, 15px);
-o-transform: translate(15px, 15px); }
20.1%, 100% {
border-color: #a88d7b; } }
@-webkit-keyframes light-the-way {
0% {
border-color: #fff;
transform: translate(0, 0);
-webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
-ms-transform: translate(0, 0);
-o-transform: translate(0, 0); }
20% {
border-color: #fff;
transform: translate(15px, 15px);
-webkit-transform: translate(15px, 15);
-moz-transform: translate(15px, 15px);
-ms-transform: translate(15px, 15px);
-o-transform: translate(15px, 15px); }
20.1%, 100% {
border-color: #a88d7b; } }


hr {
height: 2px;
width: 50px;
background-color: #a99d7b;
margin: 1rem auto 3rem auto; }

h3,
p {
text-align: center; }





// Start of About page

// .contact-us-header {
// background-repeat: no-repeat;
// background-size: cover;
// background-position-y: 25%; }

// .my-map {
// width: 100%;
// height: 800px; }


.lookbook-header {
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position-y: 40%; }

.featured-imgs {
display: grid;
grid-template-columns: repeat(3, auto);
padding: 2rem 8rem;
grid-gap: 30px; }




// Footer styling

.main-footer {
display: grid;
grid-template-columns: repeat(4, auto);
background-color: #2d2827; }

.instagram-photos {
display: grid;
grid-template-columns: repeat(4, 5rem);
grid-row-gap: 16px;
grid-column-gap: 16px;
justify-items: center; }

.team {
display: grid;
grid-template-columns: repeat(4, auto);
grid-gap: 30px;
align-items: center;
justify-content: center; }

.find-us {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 200px;
grid-gap: 0;
align-items: center;
justify-content: center;
width: 1170px;
margin: 0 auto;
padding: 9rem; }

.find-us .contact-address,
.find-us .contact-opening-hours {
width: 390px;
height: 200px;
border: solid 1px #e6e6e6;
background-color: #f0f0f0; }

.find-us .contact-details .phone,
.find-us .contact-details .email {
width: 390px;
height: 100px;
border: solid 1px #e6e6e6;
background-color: #f0f0f0; }

.contact-form {
display: grid;
grid-template-columns: repeat(2, auto);
grid-gap: 30px;
padding: 74px 366px; }



// shop page 

// shop main nav

.main-nav-shop-page  {
    width: 100%;
    height: 93px;
    background-color: #ffffff;
    color: #494949;
}
    .main-nav-shop-page a {
    color: #666666; }
    

.shop-name-page {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 8.5px; }

.home-shop {
 margin-left: 8rem;   
}

.shop-name-img {

        width: 470px;
      
        height: 470px;
      
        background-color: #666666;
      
      
}

.shop.product {
        width: 240px;
        height: 27px;
        font-family: SourceSansPro;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.83;
        letter-spacing: normal;
        text-align: left;
        color: black;
      
      
}
.results-container {
        width: 1900px;
        height: 2769px;
}

.results {
        
        height: 14px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
        padding-left: 365px;
        }

.order {
        text-align: right;
        width: 88px;
        height: 11px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: right;
        color: #666666;
      
    }  
    
.order-container 
{
    width: 1900px;
    height: 2769px;
  }


// Blog page------------

.main-nav-blog {
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis', sans-serif; }
    .main-nav li {
    list-style: none;
    display: inline-block; }
    .main-nav a {
    text-decoration: none;
    padding: 1.3rem;
    color: black; }

.blog-header {
    background-image: url(/images/background-fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}



.blog-title {
    padding-top: 180px; 
    font-family: SourceSansPro;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    font-display: uppercase;
 }

.share-blog {
a.blog {
    float: left;
    text-decoration: none;
    color: #666666;
}
a.share-breadcrumb {
    float: right;
    text-decoration: none;
    color: #666666;
}
li {
    list-style: none;
}
.fab {
    padding: 0 .5rem;
    color: #666666;
}
}

.blog-img-grid div img {
    display: grid;
    width: 370px;
    height: 225px;
    grid-template-columns: repeat(2, auto);
}

.clearfix {
    clear: both;
}

.blog-banner {
    width: 27px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 2rem 11rem;
    grid-gap: 30px; }