// Index

// Featured Products

.featured-imgs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 2rem 8rem;
    grid-gap: 30px;
}

// New Collection

.collection-imgs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center;
    padding: 2rem 7rem;
    grid-gap: 30px;
}

// Blog section

.blog {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 2rem 11rem;
    grid-gap: 30px;
}

// Main Footer

.main-footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #2d2827;
}

.instagram-photos {
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    justify-items: center;
}

//----------------------------------------------------------------------------------------------------------------------

// About Page

// About section

.this-is-us {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

//------------------------------------------------------------------------------------------------------------------------

// Contact Page

// Contact Us

.find-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    grid-gap: 0;
    align-items: center;
    justify-content: center;
    width: 1170px;
    margin: 0 auto;
    padding: 9rem;
}

.find-us .contact-address,
.find-us .contact-opening-hours {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

.find-us .contact-details .phone,
.find-us .contact-details .email {
    width: 390px;
    height: 100px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0;
}

// Contact form

.grid-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
    padding: 3rem 0;

}

#form-text {
    grid-column: span 2;
    grid-row: 3;
    resize: none;
}

#form-button {
    grid-column: span 1;
    grid-row: 4;
}

#form-name,
#form-email,
#form-number,
#form-subject {
    width: 570px;
    height: 50px;
}

//---------------------------------------------------------------------------------------------------------------------------------------------

// Blog grid

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    align-items: center;
    justify-content: center;
}

//---------------------------------------------------------------------------------------------------------------------------------------------

// Look-Book Page

.img-gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 0;
    align-items: center;
    justify-content: center;
    background-color: #2d2827;
}

.img-gallery img {
    width: 100%;
    height: 420px;
    outline: none;
    border: solid #fff;
    border-width: 3px;
}