// Home page styling----------

.top-nav {
width: 100%;
height: 53px;
line-height: 53px;
background-color: #2d2827;
font-size: 12px;
text-transform: uppercase;
text-align: center;
font-family: 'Source Sans Pro', sans-serif; }

.top-nav li {
list-style: none;
display: inline-block; }

.top-nav a {
text-decoration: none;
text-transform: uppercase;
color: #999999; }

.top-header {

font-size: 12px;
padding: 0 20rem;
    }

.top-nav,
.main-nav {
font-weight: normal;
font-stretch: normal;
font-style: normal; }

.main-nav {
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis', sans-serif; }
    .main-nav li {
    list-style: none;
    display: inline-block; }
    .main-nav a {
    text-decoration: none;
    padding: 1.3rem;
    color: #ffffff; }

.home {
    margin-left: 9rem; }

.book-space {
margin-right: 9rem; }


.name {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 8.5px; }



.main-heading {
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    padding-top: 12rem;
    text-transform: uppercase; }
    
    .main-paragraph {
    width: 924px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #e6e6e6;
    padding-top: 40px;
    padding-bottom: 97px;
    margin: 0 auto; }




.featured-imgs div {
    position: relative; }
    
    .featured-imgs div button {
    width: 60px;
    height: 25px;
    border-radius: 7.5px;
    background-color: #a88d7b;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    right: 40px;
    border: none;
    outline: none;
    font-family: 'SourceSansPro', sans-serif; }



.product-section-title,
.collection-section-title
 {

    font-family: SourceSansPro;
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem 0 .5rem 0; 
}

.team-img-1,
.team-img-2,
.team-img-3 {

width: 370px;
height: 360px; }

.collection-imgs {
    display: grid;
grid-template-columns: 1fr 1fr;
padding: 20px;
}

.collection-img-1,
.collection-img-2 {
background-color: #2d2827;
width: 570px;
height: 373px; }



.fashion-section {
    background-color: grey;
    height: 552px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: black;
    }
    
    
.fashion-section a {
    position: absolute;
    top: 400px;
    right: 1128px;
    bottom: 112px;
    left: 622px;
    width: 150px;
    height: 40px; }


.fashion-heading {
    position: absolute;
    top: 199px;
    right: 937px;
    bottom: 316px;
    left: 433px;
    width: 530px;
    height: 37px;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
    
.fashion-paragraph {
    position: absolute;
    top: 275px;
    right: 875px;
    bottom: 239px;
    left: 369px;
    width: 656px;
    height: 38px;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }



    .main-blog-section {
        text-align: center;
        font-family: SourceSansPro;
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: normal;
        color: #333333;
        text-transform: uppercase;
        display: grid;
    }
        
        .main-blog {
    
        padding-bottom: 50px;
        margin-bottom: 1rem;
        text-align: center;
        height: 24px;
        font-family: SourceSansPro;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: var(--black-three);
        
        }
        
        .blog {
            display: grid;
            grid-template-columns: repeat(2, 1fr)
        }
        

        .main-blog-heading {
        font-family: SourceSansPro;
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        text-transform: capitalize; }
        
        .main-blog-date {
        display: grid;    
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 3.2;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        text-transform: capitalize; }
        
        .main-blog-paragraph {
        width: 529px;
        height: 239px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #666666; }



    // End of Home Styled page----------


// About page============
.top-nav-about {
    width: 100%;
    height: 53px;
    background-color: #eeeeee; }
    
    .top-header-about {
    padding: 0 20rem 0 14rem; }
    
    .main-nav-about {
    width: 100%;
    height: 93px;
    background-color: #ffffff; }
    .main-nav-about a {
    color: #666666; }
    
    .name-about {
    width: 116px;
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding: 0; }
    
    .home-about {
    margin-left: 431px; }
    
    .book-space book-space-about {
    margin-right: 52px; }
    
    .about-header {
    width: 100%;
    height: 445px;
    background-image: url(/images/lvw.jpg); }
    
    
    .about-title {
    padding-top: 180px; 
    font-family: SourceSansPro;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
text-transform: uppercase;
 }
    
    .home-icon{
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc; }
    
    .home-link {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none; }
    
    .about {
    color: #a8a8a8;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none; }
    
    .team img {
    width: 270px;
    height: 305px; }
    
    .team-icons {
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #555555; }
    
    .icons .fas .fab {
    width: 18px;
    height: 11px;
    font-family: FontAwesome;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #555555; }
    
    .the-team {
    margin-top: 0;
    padding-top: 0; }


    .blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 490px;
        grid-gap: 48px;
        max-width: 80%;
        margin: 0 auto;
    }

    #no-pad {
        padding-top: 0;
        margin-bottom: 22px;
       }

    .blog-title {
    
        padding-top: 180px; 
        font-family: SourceSansPro;
        font-size: 50px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
        // text-transform: uppercase;
    }

     .what-we-do {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 490px;
        grid-gap: 48px;
        max-width: 80%;
        margin: 0 auto;
        margin-top: 102px;
     }

    // E N D OF A B O U T PAGE





// B L O G P A G E


// Blog page------------

.main-nav-blog {
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis', sans-serif; }
    .main-nav li {
    list-style: none;
    display: inline-block; }
    .main-nav a {
    text-decoration: none;
    padding: 1.3rem;
    color: black; }

.blog-header {
    background-image: url(/images/background-fashion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.blog-title-head {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px; 
    font-family: SourceSansPro;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
text-transform: uppercase;
}

.name-blog {
    width: 116px;
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding: 0; 
}

.share-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


.fab {
    padding: 0 .5rem;
    color: #666666;
}
.left {
    display: grid;
    place-content: start;
    width: 27px;
    margin-left: 365px;
    margin-top: 27px;
    margin-bottom: 24px;
    height: 15px; 
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}
.right{
    display: grid;
    place-content: end;
    div {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
    }
}
}

.img-wrapper {
    width: 1900px;

    height: 928px;
    margin-right: 100%;
    background-color: var(--white-five);
}

.blog-img-grid {
    display: grid;
    width: 370px;
    height: 225px;
    grid-template-columns: repeat(3, (1fr));
    margin: 0 auto;
    grid-gap: 20px; 
    padding-right: 50%;
}
.blog-imgs {
    width: 370px;

    height: 225px;
  
    background-color: #666666;

    margin-bottom: 30px;
}


.img-heading{
    width: 210px;
    height: 14px;
    font-family: SourceSansPro;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: black;
    margin: 0 auto;
      
      }

.img-date {
        margin-top: 19px;
        text-align: left;
        width: 117px;
      
        height: 14px;
      
        font-family: SourceSansPro;
      
        font-size: 15px;
      
        font-weight: normal;
      
        font-style: normal;
      
        font-stretch: normal;
      
        line-height: 3.2;
      
        letter-spacing: normal;
      
        text-align: left;
      
        color: #999999;
      
      
}

.img-text {

    margin-top: 25px;

    width: 340px;

    height: 39px;
  
    font-family: SourceSansPro;
  
    font-size: 15px;
  
    font-weight: normal;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.67;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #666666;
}

.img-read {
    
    height: 11px;
  
    font-family: SourceSansPro;
  
    font-size: 15px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.67;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #706259;

    margin-top: 36px;
}

.clearfix {
    clear: both;
}

.blog-banner {
    width: 27px;
    height: 15px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 2rem 11rem;
    grid-gap: 30px; }
// S H O P - P A G E


// shop main nav

.main-nav-shop-page  {
    width: 100%;
    height: 93px;
    background-color: #ffffff;
    color: #494949;
}
    .main-nav-shop-page a {
    color: #666666; }
    

.shop-name-page {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 8.5px; }

.home-shop {
 margin-left: 8rem;   
}

.shop-name-img {

        width: 470px;
      
        height: 470px;
      
        background-color: #666666;
      
      
}

.shop.product {
        width: 240px;
        height: 27px;
        font-family: SourceSansPro;
        font-size: 30px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.83;
        letter-spacing: normal;
        text-align: left;
        color: black;
      
      
}

.results-container {
    height: 91px;
    margin: 0, auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.results {
        place-content: start;
        height: 14px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: left;
        color: #494949;
        padding-left: 365px;
        }

.order {

        margin-right: 50px;
        padding-left: 400px;
        place-content: end;
        text-align: right;
        height: 11px;
        font-family: SourceSansPro;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        text-align: right;
        color: #666666;
      
    }  



  .shop-img {
    width: 300px;
    // height: 300px;
    margin-left: 365px;
    margin-right: 50px;
    margin-top: 60px;
  }

  .shop-product {

    margin-bottom: 26px;
    width: 105px;

    height: 18px;
  
    font-family: SourceSansPro;
  
    font-size: 25px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.92;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #333333;
  }

  .shop-product-coat 
  {
    margin-top: 50px;
    margin-bottom: 26px;

    height: 18px;
  
    font-family: SourceSansPro;
  
    font-size: 25px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 1.92;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #333333;
  }
  .amount {

    margin-bottom: 40px;
    width: 64px;

    height: 12px;
  
    font-family: SourceSansPro;
  
    font-size: 18px;
  
    font-weight: 600;
  
    font-style: normal;
  
    font-stretch: normal;
  
    line-height: 2.67;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #999999;
  }


  .shop-text {
      margin-bottom: 47px;

    width: 805px;

    height: 64px;
  
    font-family: SourceSansPro;
  
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
  }

  .shop.btn {
    
    width: 180px;
    height: 44px;
    text-transform: uppercase;
    background-color: #ac907f;
  }

.shop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.shop-item{
    
    display: grid;
    grid-template-columns: 1fr 2fr ;

}

 .fa-shopping-cart-btn {
    margin: 0%;

}


#cart {
    width: 180px !important;
    height: 44px !important;
    background-color:#ac907f !important;
    text-transform: uppercase;
    padding-bottom: 20px;
}

    //  F O O T E R
    .main-footer {
        display: grid;
        grid-template-columns: repeat(4, auto);
        background-color: #2d2827; }
        
        .instagram-photos {
        display: grid;
        grid-template-columns: repeat(4, 5rem);
        grid-row-gap: 16px;
        grid-column-gap: 16px;
        justify-items: center; }


        


        
.main-footer {
    padding: 60px; }
    
    .footer-name h2 {
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5rem;
    text-align: left;
    color: #e5e5e5;
    text-transform: uppercase; }
    
    .footer-name p {
    text-align: left; }
    
    .footer-name h2 {
    padding-bottom: 1.3rem; }
    
    .footer-feat h4,
    .main-footer-categories h4,
    .instagram h4 {
    font-family: SourceSansPro;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5;
    text-transform: uppercase;
    padding-bottom: 1.3rem; }
    
    .footer-feat h6,
    .main-footer-categories h6,
    .instagram h6 {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999;
    text-transform: capitalize;
    padding-bottom: 1rem; }
    
    .main-footer p,
    .main-footer h6 {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }
    
    .fas {
    margin-left: 0;
    padding-left: 0; }
    
    .footer-end {

    width: 100%;
    height: 85px;
    background-color: #d7d7d7;
 }
    
    .footer-end h2 {

    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 85px;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
 }

    // Extras
 .book-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 31px;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: #a88d7b;
    color: #ffffff;
    border: none;
    outline: none; }
    
    
    .view-more-btn {
    padding: 8px 20px;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #a88d7b;
    text-transform: uppercase;
    border: none; }
    


// gallery

*, *:after, *:before { 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box; 
            box-sizing: border-box;
  }
  body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }
  .clearfix:before, .clearfix:after { content: " "; display: table; }
  .clearfix:after { clear: both; }
  body {
    font-family: 'Open Sans', sans-serif;
      color: #6b7381;
      background: #f2f2f2;
  }
  a {
      color: #aaa;
      text-decoration: none;
  }
  a:hover,a:active {color: #333;}
  h2 {
    color: #4E88AE;
    font-weight: 400;
    text-align: center;
  }
  img {
    border: 0;
    display: block;
    width: 100%;
  }
  .entry {
    background: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: -10px 10px 10px -10px rgba(0,0,0,.35), -10px 10px 0 -3px rgba(0,0,0,.2);
    margin: 10px auto 20px;
    max-width: 800px;
    overflow: hidden;
    padding: 20px 40px;
    position: relative;
    text-align: center;
  }
  .entry > p {
    padding: 20px 0 10px;
  }
  .entry > .grid {
    margin: 20px auto 0px;
  }
  .entry > .grid > .item {
    width: 50%;
  }
  .grid {
    background-color: black;
      max-width: 69em;
      list-style: none;
      margin: 30px auto;
      padding: 1;
  }
  .grid .item {
      display: block;
      float: left;
      padding: 2px;
      width: 33%;
      opacity: 1;
  }
  .grid .item a,.grid .item img {
      outline: none;
      border: none;
      display: block;
      max-width: 100%;
  }
  .grid.effect-2 .item.animate {
      -webkit-transform: translateY(200px);
      transform: translateY(200px);
      -webkit-animation: moveUp 0.65s ease forwards;
      animation: moveUp 0.65s ease forwards;
  }
 

  #grid {
    background-color: black;
  }
  