.top-header {
    font-size: 12px;
    padding: 0 20rem;
}

.fas,
.fab {
    margin: 21px 9px;
}

.main-nav {
    background-color: black;
    padding: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dosis', sans-serif;

    li {
        list-style: none;
        display: inline-block;

    }

    a {
        text-decoration: none;
        padding: 1.3rem;
        color: #ffffff;
    }
}

// Company Name

.company-name {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    letter-spacing: 8.5px;
}

// Interchangeable properties

.top-nav,
.main-nav {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

// Padding to the right and left of main-nav icons and links

.breathing-room-left {
    margin-left: 9rem;
}

.breathing-room-right {
    margin-right: 9rem;
}

// Banner heading

.main-heading {
    color: black;
    font-family: 'Dosis', sans-serif;;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    padding-top: 12rem;
    text-transform: uppercase;
}

// Banner Paragraph

.main-paragraph {
    width: 924px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #433a3f;
    padding: 2rem 0;
    margin: 0 auto;
}

.second-section {
    background-color: #989788;
    flood-opacity: 0.5;
}

.product-section-title,
.collection-section-title {
    text-transform: uppercase;
    text-align: center;
    padding: 2.5rem 0 .5rem 0;
}


.product-img-1,
.product-img-2,
.product-img-3 {

    width: 370px;
    height: 360px;
    padding: 50px;
    img {
        height: 100%;
        width: 100%;
    } 
}

.product {
    width: 370px;
    height: 360px;
    background: #666666;
}



.collection-img-1,
.collection-img-2 {
    width: 570px;
    height: 373px;

}

.showcase-goods-section {
    height: 552px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.craft-heading {
    position: absolute;
    top: 199px;
    right: 937px;
    bottom: 316px;
    left: 433px;
    width: 530px;
    height: 37px;
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.craft-paragraph {
    position: absolute;
    top: 275px;
    right: 875px;
    bottom: 239px;
    left: 369px;
    width: 656px;
    height: 38px;
    font-family: 'SourceSansPro', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}